.git
.github
.cursor
.opencode
.fleet
.idea
.nova
.vscode
.zed

.env
.env.*
!.env.example
auth.json

node_modules
vendor
public/build
public/hot
public/storage

playwright-report
test-results
.phpunit.cache
.phpunit.result.cache
.phpactor.json
npm-debug.log
yarn-error.log

storage/*.key
storage/app/private/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*

Dockerfile.dev
docker-compose.yml
